.header {
   max-width: 300px;
   margin: 0 auto;

   &__body {
      text-align: center;
   }

   &__logo {margin: 30px 0px 20px 0px;
   }

   &__logo-text {
      span{
         color: #d66cb7;
      }
font-family: Novecentowide;
font-size: 37.6px;
line-height: 31px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -0.02em;
color: #7e7d7e;
margin-bottom: 50px;
   }

   &__menu-list {
      li:hover{
         background-color: rgb(12, 240, 50);
         padding: 0px 10px 0px 10px;
      }
      
   }

   &__menu-link { width: 150px;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 30px;
      display: flex;
      border-radius: 10px;
      line-height: 32px;
      
      

   }

   &__menu-link-img {
      background-color: rgb(136, 128, 128);
      border-radius: 50%;
      padding: 5px;
      margin-right: 30px;
      width: 30px;
      height: 30px;
      
   }

   &__menu-link-text {text-decoration: none;
      font-family: SegoeWP;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -0.02em;
color: #7e7d7e;

   }

   &__text {
      
   }

   &__title {
      flex: 0 1 100%;
   }

   &__subtitle {


      font-family: PTSans;
font-size: 18px;
line-height: 27px;
font-weight: 400;
color: #959595;
   }

   &__tags {
      display: flex;
      flex: 0 1 100%;
   }

   &__tags-logo {
      display:flex;
      flex-wrap:wrap;
   }

   &__video {
      display: flex;
   }
}
.container {
}
.logo {
}
.title {
font-family: PTSans;
font-size: 32px;
line-height: 1.2;
font-weight: 400;
color: #959595;
}
