.videos {
   &__body {
   }

   &__change {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 30px 0px;
      p {
         font-family: SofiaPro;
         font-size: 17px;
         line-height: 1.2;
         font-weight: 300;
         color: #8b8b8b;
      }
      div {
         border-radius: 5px;
         display: flex;
         overflow: hidden;
         margin-left: 5px;
         border: 1px solid #000;
         align-items: center;
         background-color: rgb(210, 216, 210);
         a {
            align-items: center;

            :hover {
               background-color: rgb(102, 65, 202);
            }
         }
         img {
            padding: 10px;
         }
      }
   }

   &__video-text {
   }
}

.item {
   display: flex;
   margin-bottom: 50px;
   background-color: rgb(255, 180, 180);
   :last-child {
      margin-bottom: 0;
   }

   &__video {
      display: flex;
      position: relative;
   }

   &__img {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 40%;
      background-color: rgba(19, 207, 19, 0.76);
      &:hover {
         background-color: rgb(201, 28, 163);
      }

      div {
         position: absolute;
         left: -30px;
         background-color: blue;
         padding: 10px 20px 10px 20px;
         border: 1px solid #000;
         border-radius: 50%;
      }
   }

   &__text {
      padding: 0px 15px;
      position: relative;
   }

   &__title {
      font-family: SofiaPro;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 300;
      color: #000000;
   }

   &__more {margin: 10px 10px ;
      display: flex;
      align-items: center;
      img{display: block;
         margin-right: 5px;
      }
      p{
         margin-right: 10px;}

      div {
         
      align-items: center;

      }
   }

   &__subtitle {
      font-family: PTSans;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: #727272;
   }

   &__arrow {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 0;
      bottom: 0;
      :first-child{
         position: absolute;
         right: 5px;
         bottom: 0;
      }
   }
}
