@font-face {
  font-family: "Helvetica regular";
  font-display: swap;
  src: url("../fonts/Helvetica regular.woff") format("woff"), url("../fonts/Helvetica regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont.woff") format("woff"), url("../fonts/ofont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Novecento Bold";
  font-display: swap;
  src: url("../fonts/Novecento Bold.woff") format("woff"), url("../fonts/Novecento Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "seguisym";
  font-display: swap;
  src: url("../fonts/seguisym.woff") format("woff"), url("../fonts/seguisym.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro Regular";
  font-display: swap;
  src: url("../fonts/Sofia Pro Regular.woff") format("woff"), url("../fonts/Sofia Pro Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  max-width: 300px;
  margin: 0 auto;
}

.header__body {
  text-align: center;
}

.header__logo {
  margin: 30px 0px 20px 0px;
}

.header__logo-text {
  font-family: Novecentowide;
  font-size: 37.6px;
  line-height: 31px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #7e7d7e;
  margin-bottom: 50px;
}

.header__logo-text span {
  color: #d66cb7;
}

.header__menu-list li:hover {
  background-color: #0cf032;
  padding: 0px 10px 0px 10px;
}

.header__menu-link {
  width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  line-height: 32px;
}

.header__menu-link-img {
  background-color: #888080;
  border-radius: 50%;
  padding: 5px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
}

.header__menu-link-text {
  text-decoration: none;
  font-family: SegoeWP;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #7e7d7e;
}

.header__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.header__subtitle {
  font-family: PTSans;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #959595;
}

.header__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.header__tags-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  font-family: PTSans;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  color: #959595;
}