@font-face {
  font-family: "Helvetica regular";
  font-display: swap;
  src: url("../fonts/Helvetica regular.woff") format("woff"), url("../fonts/Helvetica regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont.woff") format("woff"), url("../fonts/ofont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Novecento Bold";
  font-display: swap;
  src: url("../fonts/Novecento Bold.woff") format("woff"), url("../fonts/Novecento Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "seguisym";
  font-display: swap;
  src: url("../fonts/seguisym.woff") format("woff"), url("../fonts/seguisym.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro Regular";
  font-display: swap;
  src: url("../fonts/Sofia Pro Regular.woff") format("woff"), url("../fonts/Sofia Pro Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 80px;
  background-color: #ca3636;
  font-family: "Novecento Bold";
}